.clone-project{
  // height: 100vh;
h2{
  font-size: 9rem;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  margin: 0 10rem;
  margin-top: 20rem;
  margin-bottom: 8rem;
  // text-align: left;
  // margin-top: 6rem;
  gap: 3rem;
  display: flex;
  .text1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .text2 {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
    font-size: 11rem;
    // color: var(--color-sub);
  }
}

.clone-project {
  position: relative;
  // height: 150vh;
  .line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 102%;
    display: block;
  }
  .circle-num {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    @include flex-layout(column, space-around);
    > div{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--color-sub);
      color: var(--color-primary);
      font-size: 2rem;
      @include flex-layout(space-around);
    }
  }
//클론 프로젝트(이미지, 텍스트) 전체 레이아웃
  .cloneCard-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    justify-items: center;
    // justify-content: center;
    align-items: center;
    gap: 7rem;
    margin: 0 auto;
    > div {
      display: flex; 
      align-items: flex-start;
      // margin-bottom: 50px;
      justify-items: center;
      align-items: center;
    }
    .net, .mom, .air{
      gap: 10rem;
    }
    .mom{
      display: flex;
      flex-direction: row-reverse;
      align-items: end;
    }
    .txt-wrap{
      width: 530px;
      height: 500px;
      font-size: 1.8rem;
      @include flex-layout(column,center,flex-start);
      gap: 2rem;
      .txt-top{
        
      }
      .txt-bottom{
        display: flex;
        flex-direction: column;
        .bot{
          display: flex;
          // align-items: center;
          gap: 1rem;
          margin: 0.5rem 0;
          h4{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 160px;
            background-color: #2D3142;
            padding: 0 1rem;
            text-align: center;
            font-weight: 100;
            padding: 0.5rem;
            
          }
        }  
      }
      .txt-point{
        display: flex;
        gap: 1rem;
        a, p{            
          display: flex;
          background-color: #2D3142;
          padding: 0 1rem;
          text-align: center;
          font-weight: 100;
          border: 1px solid var(--color-sub);
          padding: 0.5rem;
        }
      }
    }
  }
}
}