.main-project {
  // background-color: #222222;
  @include flex-layout(column);
  h1 {
    font-size: 9rem;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    margin: 4rem;
    margin-top: 6rem;
      @include flex-layout();
    .txt1 {
      font-weight: 300;
    }
    .txt2 {
      font-family: "Bona Nova", serif;
      font-size: 10rem;
      color: var(--color-sub);
    }
  }

//프로젝트 카드 전체  
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    justify-items: center;
    gap: 7rem 0;

// 각각 프로젝트 카드
    .project-card {
      position: relative;
      width: 530px;
      height: 646px;
      > div {
        position: absolute;
        width: 530px;
        height: 73%;
        bottom: 0;
        left: 0;
        overflow-y: auto;
        > img {
          position: absolute;
          width: 100%;
          height: auto;
          top: 0;
          left: 0;
        }
      }

//인덱스      
      .index-wrap{
        position: absolute;
        top: 0;
        right: -25px;
        @include flex-layout(column);
        // display: inline-block;
        gap: 1rem;
        > li{
          width: 25px;
          height: 65px;
          background-color: var(--color-sub);
          color: var(--color-primary);
          @include flex-layout();
          font-size: 1.3rem;
          font-weight: 500;
          span {
            writing-mode: vertical-rl;
            text-orientation: upright;
        }
        }
      }
    }


//각각 프로젝트 카드의 백그라운드 이미지    
  }
  .projects > .project-card:nth-child(1) {
    background-image: url("../../public/image/MainProject/dream1.png");
  }
  .projects > .project-card:nth-child(2) {
    background-image: url("../../public/image/MainProject/recycle1.png");
  }
  .projects > .project-card:nth-child(3) {
    background-image: url("../../public/image/MainProject/endword1.jpg");
    > div {
      overflow-y: hidden;
    }
  }
  .projects > .project-card:nth-child(4) {
    background-image: url("../../public/image/MainProject/quiz1.jpg");
    > div {
      overflow-y: hidden;
    }
  }
  .projects > .project-card:nth-child(5) {
    background-image: url("../../public/image/MainProject/gallery1.jpg");
    > div {
      overflow-y: hidden;
    }
  }





}
