.skills-wrap{
  height: 100vh;
  background-image: url(../../public/image//Skills/skills-back.png);
  @include flex-layout();
  img{
    display: block;
    
  }
  .skills{
    @include flex-layout();
  }
}

