

.start-page {
  height: 100vh;
  @include flex-layout(column);
  position: relative;
  overflow: hidden;
  .start-title {
    height: 100vh;
    font-family: "Anonymous Pro", monospace;
    font-size: 20rem;
    @include flex-layout();
    animation: textScale 4s ease-in-out;
  }

  @keyframes textScale {
    0% {
      opacity: 0;
      transform: scale(2);
    }
    10% {
      opacity: 0;
      transform: scale(2);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
    55% {
      opacity: 1;
      transform: scale(1.2);
    }
    70% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 0;
      transform: scale(0.8);
    }
  }

  .text-wrap2{
    @include flex-layout(column);
    flex: 1;
  .second {
    .second-top {
      @include flex-layout();
      font-size: 9rem;
      gap: 2rem;
    }
    .one {
      font-family: "Anonymous Pro", monospace;
      font-weight: 700;
    }
    .two {
      font-family: "roboto", sans-serif;
    }
    .three {
      font-family: "Playball", monospace;
      font-size: 12rem;
    }
    .four {
      text-align: center;
      font-family: "roboto", sans-serif;
      font-weight: 300;
      font-size: 5rem;
      letter-spacing: 0.5rem;
      margin-top: -1.5rem;
    }
  }
  
  .img-slider{
    position: absolute;
    top: 75%;   
    left: 50%;    
    transform: translate(-50%, -50%);
    width: max-content;
  }
  .img-slider img {
    height: auto;
    margin: 0 3rem;
  }
}

.btn-wrap {
  @include flex-layout();
  gap: 4rem;
  margin-top: 4rem;

  .btn1 {
    @include color-btn;
    color: #0A0F2C;
  }
  .btn2 {
    @include border-btn;
    border: 2px solid #B9E901;  }
}

  .menu-wrap{
    @include flex-layout(row);
      margin-bottom: 7rem;
    .menu{
      @include color-btn(150px, 50px);
      font-size: 2rem;
      border-radius: 30px;
    }
    .menu-bar{
      ul{
       @include flex-layout();
       width: 350px;
       height: 50px;
       background-color: #B9E901;
       border-radius: 30px;
       color: var(--color-primary);
       font-size: 2rem;
       gap: 2rem;
     }
    }
  }

}
